<h3>User form</h3>
<input [(ngModel)]='user.firstname'> 
<input [(ngModel)]='user.lastname'> 
<input type="number" [(ngModel)]='user.age'> 
<input type="radio" value="Male" [(ngModel)]='user.gender'>Male
<input type="radio" value="FeMale" [(ngModel)]='user.gender'>Female

 

<br/>
Education: <input type="radio" value="B.Tech" [(ngModel)]='user.education'>B.Tech
<input type="radio" value="MS" [(ngModel)]='user.education'>MS
<input type="radio" value="Phd" [(ngModel)]='user.education'>Phd
DOB <input type="date" [(ngModel)]='user.dob'>
<button (click)='save()'>Save</button>
<button (click)='sort()'>Sort</button>
<div></div>
<input placeholder="search by first name"><button (click)='search()'>Search</button> // http://localhost:3000/users?firstname=john&age=10
<ol>
  <li *ngFor="let u of users;index as i;">
    <span>{{u.firstname | uppercase}}</span>,
    <span>{{u.lastname| ellipsis:6: 56}}</span>,  
    <span>{{u.age}}</span>, 
    <span>{{u.dob |date:'d/M/yyyy'}}</span>
  </li>
</ol>